.bannerHome {
    display: flex;
    width: auto;
    height: 223px;
    position: relative;
    margin: 50px 10% ;
    &__overlay{
        width: 100%;
         z-index: 0;    
         background: black;   
         border-radius: 25px;
        img{
            object-fit:cover;
            width:100%;
            height: 223px;
            border-radius: 25px;
            z-index: -1;
            opacity: 0.75;
        }
    }
    h1{
        display: flex;
        width: 100%;
        position: absolute;
        top: 40%;
        justify-content: center;
        color: white;
        font-size: 50px;
        z-index: 3;
        .br{
            display: none;
        }
        
        // white-space: nowrap;
    }
        
}
