.gallery{
    background: #f7f7f7;
    margin: 50px 10%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    padding: 50px;
    gap: 30px;
    .card{
        // margin: 3% auto;
        position: relative;
        // width: auto;
        // height: 30%;
        border-radius: 10px;
        min-height: 10%;
        // align-self: flex-start;
        // flex:  auto;

        h3{
            position: absolute;
            bottom: 20px;
            left: 20px;
            width: 60%;
            font-size: 18px;
            line-height: 25.67px;
            color: white;
        }
        img{
            object-fit: cover;
            min-height: 10%;
            width: 300px;
            height: 300px;
            border-radius: 10px;
        }
    }
}
