* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: "Monserrat", sans-serif;
}

li {
  list-style-type: none;
  color: #FF6060;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 10%;
  margin-bottom: 50px;
}

.bannerHome {
  display: flex;
  width: auto;
  height: 223px;
  position: relative;
  margin: 50px 10%;
  margin-bottom: 100px;
}
.bannerHome img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 25px;
  z-index: 0;
}
.bannerHome h1 {
  display: flex;
  width: 100%;
  position: absolute;
  top: 40%;
  justify-content: center;
  color: white;
  font-size: 50px;
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 415px;
  margin: 50px 10%;
  margin-bottom: 100px;
}
.carousel img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.carousel .arrowRight {
  position: absolute;
  right: 10px;
  z-index: 10;
  width: 50px;
  height: 80px;
}
.carousel .arrowLeft {
  position: absolute;
  left: 10px;
  width: 50px;
  height: 80px;
  z-index: 1;
}

.navigation ul {
  display: flex;
  gap: 50px;
  font-size: 24px;
  font-weight: 500px;
}
.navigation ul a {
  text-decoration: none;
  color: #FF6060;
}
.navigation ul a.active {
  text-decoration: underline;
}

.gallery {
  background: #f7f7f7;
  margin: 50px 10%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  padding: 50px;
  gap: 30px;
}
.gallery .card {
  position: relative;
  border-radius: 10px;
  min-height: 10%;
}
.gallery .card h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 60%;
  font-size: 18px;
  line-height: 25.67px;
  color: white;
}
.gallery .card img {
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 10%;
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

footer {
  width: 100%;
  background: black;
  text-align: center;
  padding: 60px 30px;
}
footer img {
  margin: auto;
}
footer p {
  color: white;
  margin-top: 30px;
  font-size: 24px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FF6060;
}
.error h1 {
  font-size: 288px;
  font-weight: 700;
  margin-bottom: 70px;
}
.error p {
  font-size: 36px;
  margin-bottom: 180px;
}
.error a {
  font-size: 18px;
  color: #FF6060;
}

.dropDown {
  display: flex;
  width: 90%;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 10%;
}
.dropDown__container {
  display: flex;
  width: 500px;
  flex-direction: column;
}
.dropDown__container--btn {
  background-color: #FF6060;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
}
.dropDown__container--btn:after {
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.dropDown__container--article {
  width: 80%;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}/*# sourceMappingURL=index.css.map */