.error{
    @include verticalCenter;
    color: $color-primary;
    h1{
        font-size: 288px;
        font-weight: 700;
        margin-bottom: 70px;
    }
    p{
        font-size: 36px;
        margin-bottom: 180px;
    }
    a{
        font-size: 18px;
    color: $color-primary;

    }
}